.section-wrapper--sekcja_9{
    background-repeat: no-repeat;
    .container{
        padding:70px 0;
        .heading{font-size: 35px;}
    }
    .where{font-family: "MuseoLite";font-size: 25px;
  
    }

    @media(max-width: 768px){
        .heading{font-size: 30px;}
        .where{
            font-size: 20px;

        }
    }
    @media(max-width:500px){
        .container{
            padding-top:30px
        }

        .heading{font-size: 26px;}
        .where{
            font-size: 18px;

        }
        
    }
}